<p>Hello <%= @user.first_name %>,</p>

<p><%= @program.coach.full_name %> has been invited to join Right Side Health to <%= @program.purpose %>.</p>

<p>Please download the Right Side Health iOS app via: ..., and sign in using the following invitation code: <%= @program.authentication_token %></p>

<p>-Your friends at Right Side Health</p>
