<p>Hello,</p>

<p>You have been invited to join Steps, a coaching tool from Right Side Health.</p>

<p>Please use the following link to activate your account: <%= link_to edit_practice_url(@practice, :invite_token => @coach.invite_token), edit_practice_url(@practice, :invite_token => @coach.invite_token) %>.</p>

<p>-The Steps Team</p>
