<p>Hello <%= @user.first_name %>,</p>

<p><%= @program.coach.full_name %> has invited you to join Steps, a coaching tool from Right Side Health.</p>

<p>Please download the Steps iPhone app <a href="http://itunes.apple.com/app/id790421931">here</a>, and sign in using the following invitation code: <%= @program.authentication_token %></p>

<p>-The Steps Team</p>
