<p>Hello <%= @first_name %>,</p>

<p><%= @coach.full_name %> has invited you to join Steps, a coaching tool from Right Side Health.</p>

<p>Please download the Steps iPhone app <a href="http://itunes.apple.com/app/id790421931">here</a> (from your mobile device), and sign in using the following information:</p>

<p style="font-weight:bold;margin-bottom:0;">Email Address: <%= @email %></p>
<p style="font-weight:bold;margin-top:0;">Password: <%= @program.authentication_token %></p>

<p>Be sure to enable push notifications so your coach can update you!</p>

<p>If you have any trouble, don't hesitate to contact us at <a href="mailto:contact@rightsidehealth.com">contact@rightsidehealth.com</a>.<p>

<p>-The Steps Team</p>
