<tr>
  <td><%= reminder.frequency_output %></td>
  <td><%= reminder.send_at.strftime("%B %e, %Y") %></td>
  <td><%= reminder.send_at.getlocal.strftime("%l:%M %p") %></td>
  <td><%= reminder.body %></td>
</tr>
