<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="well patient">
    <%= image_tag(program.user.avatar.medium.url, height: 123, width: 123, alt: "patient avatar") %>
    <h3><%= link_to program.user.full_name, program_path(program) %></h3>
    <div class="check-ins">
      <ul class="list-inline">
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
        <li>
          <a href="#" class="glyphicon glyphicon-ok"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
