<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h3 class="middle">Add a New Patient</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <ol class="breadcrumb">
        <li></li>
        <li class="active"></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well create">
        <p><b><%= @program.user.full_name %> has successfully been added!</b></p>
        <p>Their sign in code is: <span class="code"><%= @program.authentication_token %></span></p>
        <p>They should receive the code shortly via email.</p>
        <div class="row">
          <div class="pull-right">
            <%= link_to 'Build Their Plan', new_big_steps_path(@program), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
