<div class="container">
  <div class="col-md-12 center">
    <h3 class="middle">Add a New Patient</h3>
  </div>
  <div class="col-md-12">
    <p><%= @program.user.full_name %> has successfully been added!</p>
    <p>Their sign in code is: <code><%= @program.authentication_token %></code></p>
    <p>They should receive the code shortly via email.</p>
  </div>
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Build Their Plan', new_big_steps_path(@program), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
