<%
  if (@note.blank? || @note.id.blank?)
    form_url = "/small_steps/#{@small_step.id}/note"
    form_action = :create
    form_submit_label = "Submit"
  else
    form_url = "/small_steps/#{@small_step.id}/note/#{@note.id}"
    form_action = :update
    form_submit_label = "Update"
  end
%>

<%= simple_form_for @note, action: form_action, url: form_url, html: { class: "form-vertical" } do |f| %>
  <%= f.input :body, label: "Notes" %>
  <a id="link_rick_test" href="#" onclick="return false;" style="font-size: .6em;">What does this look like to my client?</a><br>
  <img src="/assets/7c8hh.gif" style="display:none; margin-bottom:5px;" id="previewTest"/> <br>
  <%= f.submit form_submit_label, class: 'btn btn-primary' %>
<% end %>

<script>
$(document).ready(function() {
  $('#link_rick_test').click(function() {
    $('#previewTest').toggle();
    });
});


</script>