<% 
  start_date = week.start_date.beginning_of_week(:sunday)
  end_date = week.end_date.end_of_week(:sunday)
%>
<% (start_date..end_date).each do |day| %>
  <div class="check-in-wrap">
  <% if week.has_check_in_for_day(day) %>
    <% status = week.find_check_in_for_day(day).status %>
    <div class="check-in status-<%=status%>"></div>
  <% else %>
    <div class="check-in status-<%=CheckIn::STATUSES[:none]%>"></div>
  <% end %>
  <div class="day-names"><%= day.strftime("%a, %b %e") %></div>
  <!--<div class="day-numbers"><%= @program.day_number(day) %></div>-->
  </div>
<% end %>
