<div class="container">
  <div class="well">
    <div class="col-md-12">
      <h2>Steps Customer Support</h2>
			<p>If you have any questions or issues with Steps, please contact us at <a href="mailto:contact@rightsidehealth.com">contact@rightsidehealth.com</a></p>
    </div>
  </div>
</div>
