<div class="program-alert">
  <p>
    Send me an email when <%= alert.criteria_output %>
    <% if false %>
    <span>
      <button class="btn btn-warning">Done</button>
    </span>
    <% end %>
  </p>
</div>
