<div class="program-alert">
  <p>Alert me when <%= @program.user.first_name %> <%= Alert::ACTION_TYPES.keys[alert.action_type] %> <%= alert.streak %> <%= Alert::SEQUENCES.keys[alert.sequence] %></p>
</div>
