<div class="container">
  <div class="well">
    <div class="col-md-12">
      <h2>LegalDocs#coach_terms</h2>
			<p>Find me in app/views/legal_docs/coach_terms.html.erb</p>
    </div>
  </div>
</div>
