<div class="container">
  <div class="well">
    <div class="col-md-12 doc-text">
      <h2 class="center">RIGHT SIDE TECHNOLOGIES<br>PRIVACY POLICY</h2>
			<p><span class="underline">Effective Date</span>: January 16, 2014</p>
			<p>Welcome to Right Side Technologies! This Privacy Policy (this “Policy”) describes how Right Side Technologies, Inc. (“Right Side”, “we”, “our” or “us”) treats information collected or provided in connection with a coach or other end user’s (“you” or “your”) use of the <%= link_to 'www.mystepsapp.com', root_path, target: "_blank" %> website and the services made available by us through that website or through downloadable applications (an “App”) we make available to you (collectively, the website and the App, the “Website”).  This Policy applies solely to information collected by or in connection with the Website.  This Policy does not apply to the practices of companies that Right Side does not administer, or to individuals that Right Side does not employ.  Your access and use of the Website is subject to this Policy and to our separate Terms of Service [LINK]. Capitalized terms used but not defined in this Policy have the meaning assigned to them in the Terms of Service.</p>
			<p>The Website and Services enable a health, wellness or other coach, which may be a gym instructor, dietitian, physical therapist, life coach, executive coach or other health provider (a “Coach”), to collect data about certain behaviors or activities of end users (“End Users”) that those End Users choose to track through their mobile devices in combination with personal information submitted by those End Users to us in order to provide those End Users with notices and feedback to help the End User try to maintain or achieve certain behavioral goals, such as following a diet, exercise or health plan.  End Users may either self-report data through the Services or the data may be automatically collected by the End User’s mobile device (such as GPS, accelerometers, etc.) (any personal data about you submitted or collected through the Website, your “App Data”).  Through our Services, an End User can receive push notifications of reminders or metrics regarding certain behaviors that the End User chooses to track through the Services.  Our Service may permit an End User to disclose the End User’s App Data to a third party from time to time; provided that the End User does so at the End User’s own risk.  In order to use the Services, you must have a mobile device enabled with our downloadable application, or use the Services through a computer that can access our Website.</p>
			<p>Right Side does not knowingly collect information from children under 13.  If you are a parent or guardian and believe that your child under the age of 13 has used our Services and provided personally identifiable information to us, please contact us at contact@rightsidehealth.com and we will work to delete that account and any such personally identifiable information.</p>
			<ol>
				<li>
					<p class="heading">Effective Date; Changes.</p>
					<p>This Policy applies to all information collected by or provided to us on and after the Effective Date.  When we make any material changes to this Policy, we will change the Effective Date above and will inform you by e-mail sent to the address associated with your account, through a push notification in our App or through the App the next time you log in.  We will treat your continued use of the App following such notice as your acceptance of the changes.  However, to the extent required by applicable law, we will seek your affirmative consent prior to applying any material change to this Policy to information we collected or received prior to the date of the change.</p>
				</li>
				<li>
					<p class="heading">Third Parties.</p>
					<p>We may offer links to third parties’ websites or services through the Website.  This Policy does not apply to information that you may provide to or that may be collected by third parties.  We encourage you to request such third parties to provide you with their applicable privacy policies and other terms and conditions before participating in their services or making a purchase.</p>
					<p>If you are a Coach, you shall provide any End User with whom you use the Website the protections provided in this Policy or you may provide an End User with a separate privacy policy reflecting your privacy practices.</p>
				</li>
				<li>
					<p class="heading">Collected Information.</p>
					<p><span class="bold">Overview.</span>  Our primary purpose in collecting Personal Information (as defined below) is to provide you with a smooth, efficient, and customized experience using our Website.  This allows us to provide services and features that are more likely to meet your needs, and to customize our Website to improve your experience.  As used herein, "Personal Information" means information that specifically identifies an individual (such as a name, address, or e-mail address, etc.) or other information about that individual that is directly linked to Personal Information.  Personal Information does not include "aggregate" information, which is non-personally identifiable data we collect or derive about the use or performance of our Website, or “de-identified data”, which is information after we have reasonably removed the ability to identify an individual from such data.  We may collect and store information, including Personal Information, that you provide to us when using the Website.  We may use Personal Information to improve the delivery of our Website, including advertising, and to develop analytics and aggregated data that allow us and our partners to improve our Services and correspond with you.  We may de-identify data and use the de-identified data primarily for the purpose of improving our Services, but we may also use it for other purposes.</p>
					<p>We may also collect and store non-personally identifiable information that is automatically generated when you use the Website.  We use this information to do internal research on our users’ demographics, interests, and behavior to better understand, protect and serve you and our community.  We use the non-personally identifiable information, such as your mobile carrier, device and application IDs, and the nature of your use of the Website, to improve our Website delivery, including advertising, and to develop analytics and aggregated data that allow us and our partners to use our Website and reach out to you via our Website or otherwise.</p>
					<p><span class="bold">Information You Submit.</span>  If you create an account with the Website, we may collect the Personal Information you provide in the registration form.  This information may include your name, e-mail address and password.  We use this information to contact you about our Services in which you have expressed interest.  If you pay for premium services through the Website that we may offer from time to time, we will collect the billing information associated with the payment instrument you select or we may use a third party to collect such information.</p>
					<p>If you are accessing the Website through a relationship you have with your Coach, we may share your Personal Information that you submit to us with your Coach.  We will not share your Personal Information with a Coach other than your Coach without your authorization. You may withdraw the authorization for a Coach to see your Personal Information using our Website at any time by contacting us at contact@rightsidehealth.com.  Even if you withdraw your authorization with us, however, your Coach may have archived your Personal Information.  If you would like your Coach to remove your Personal Information, you should notify your Coach.</p>
					<p><span class="bold">Information Collected When You Use the App.</span>  When you use the Website, we may gather certain non-personally identifiable information from you, and this information may be associated with the Personal Information that you provide.  This includes usage information, such as information on when, how often and for how long you use the Website, and server log data such as a device’s IP address, MAC address and operating system version.  We may use a third party service such as Google Analytics to collect this data.</p>
					<p><span class="bold">Mobile Device IDs.</span>  We may create a unique, random alphanumeric identifier and associate it with your device and the information about you on our servers.  We may use this identifier to recognize and remember your device and your preferences when you use an App.  If you have elected to receive push notifications, we may collect your device’s unique token to enable us to send such notifications through the third party push notification services.</p>
					<p><span class="bold">Location-Based Information.</span>  If you allow location-based tracking through your mobile device and App preferences, we will receive information regarding your precise location (using the GPS antenna within your device) when the App is running on your device.  We may also receive information from the compass on your mobile device, including course, velocity and altitude.  This allows the App to track your location, and enables the App to send you notifications based on your location. We may also use the location to determine what advertising should be shown in connection with your use of the App.</p>
				</li>
				<li>
					<p class="heading">Use & Disclosure of Information.</p>
					<p>We may internally use the information we maintain about you as follows:</p>
					<ul>
						<li>We may use submitted information for the purposes for which you provided the information, such as to create and maintain your account on our Services for you.</li>
						<li>We may use submitted information and collected information to provide the features and functionality of the Website to you.  </li>
						<li>We may use submitted information and collected information to personalize the content that you and others see based on personal characteristics or preferences.</li>
						<li>We may analyze collected information relating to your use of the Website in order to help us improve the Website and develop and improve other products and services.</li>
						<li>We may use submitted information and collected information to help troubleshoot problems, provide you with required notices, enforce our Terms of Service [LINK] (for example, when necessary to protect our or a third party’s intellectual property or proprietary rights), or to alert you to changes in our policies or agreements that may affect your use of the Website.</li>
					</ul>
					<p>We may use and disclose the information we maintain about you as follows:</p>
					<ul>
						<li>We may disclose non-personally identifiable information to third party partners in furtherance of our business arrangements with them, such as jointly offering a product or service to you or creating interoperability between our products and services and the products and services of such partners.</li>
						<li>We may provide advertisers and other third parties with aggregated, non-identifiable information about our user base and its usage patterns.</li>
						<li>We may use contractors and third party service providers to provide the Website to our users.  When our contractors or service provider obtain access to your information, they are required to protect this information in a manner that is consistent with this Policy by, for example, not using the information for any purpose other than to carry out the services they are performing for Right Side.</li>
						<li>We will use and disclose information where we, in good faith, believe that the law or legal process (such as a court order, search warrant or subpoena) requires us to do so or in other circumstances when necessary either to protect the rights or property of Right Side, our users, and third parties.</li>
					</ul>
				</li>
				<li>
					<p class="heading">Data Security on Our Website.</p>
					<p>Right Side takes reasonable technical and organizational measures to protect the security of our users’ information, which includes encryption standard to the technology industry. If you have any questions about the security on our servers, you can send an email to contact@rightsidehealth.com.  Right Side provides the following security measures to protect the privacy of your health information:</p>
					<ul>
						<li>We require both a personal username (log-in name) and a password in order for users to access their information, and, in the case of Coaches, the information of their End Users.</li>
						<li>We use SSL encryption for data that is being transferred.</li>
						<li>We use firewalls to protect information stored on our servers.</li>
						<li>We limit the number of Right Side employees who have potential access to your health information.</li>
						<li>We limit access to your health information to authorized users.</li>
					</ul>
					<p>Despite our measures to protect your health information, there is always some risk that an unauthorized third party may find a way around our security systems.  There is also a risk that transmissions of your information over the Internet may be intercepted. If you provide your user name and password to other people or if you use a public computer that does not log you off our Website, your data is no longer protected. Please do not share your Right Side login credentials and use automatic screen locking features on your mobile device.</p>
				</li>
				<li>
					<p class="heading">Deleting Your Information.</p>
					<p>You may at any time cancel your account and request that we delete from our servers all of your Personal Information by emailing contact@rightsidehealth.com.  Such requests will be honored within a reasonable time period after they have been received, provided that you give us all reasonably necessary information and cooperation.  Certain Personal Information may continue to be stored in our backup systems until regularly scheduled deletions occur.  In addition, you may withdraw the authorization for a Coach to see your Personal Information, as specified above.  You agree that Right Side has the perpetual right to use aggregate, de-identified information for any purpose.</p>
					<p>Please keep in mind that whenever you voluntarily make your Personal Information or other private information available for viewing by third parties online – for example on discussion boards or  forums, or through social networking websites – that information can be seen, collected and used by others besides us.  We cannot be responsible for any unauthorized third-party use of such information.</p>
				</li>
				<li>
					<p class="heading">Choices Regarding Third Party Offers.</p>
					<p>To the extent we send you commercial e-mails regarding third party marketing or promotional materials, we will give you the ability to opt-out of receiving such e-mails in accordance with applicable law.  We will not provide your Personal Information to third parties for their own marketing purposes without your consent.</p>
				</li>
				<li>
					<p class="heading">Security.</p>
					<p>The Personal Information we collect about you is stored in limited access servers. We will maintain reasonable safeguards to protect the security of these servers and your Personal Information. However, no security measures are 100% effective and we cannot guarantee the security of your Personal Information.</p>
				</li>
				<li>
					<p class="heading">Transfer As Corporate Asset.</p>
					<p>In the event of a merger, sale of capital stock or assets, reorganization, consolidation or similar transaction involving Right Side, the information we possess (including Personal Information) shall be transferred as a corporate asset to the acquiring entity, provided that such entity will continue to handle such information in accordance with this Policy.</p>
				</li>
				<li>
					<p class="heading">Transfer to the U.S. or other Countries.</p>
					<p>Right Side is established in and uses facilities in the United States.  Any personal or other information that is collected through the Services is transferred to and processed in the United States for the purposes described above.  Right Side also may subcontract the processing of your data to, or otherwise share your data with, affiliates or third parties in the United States or other countries.  The data protection laws in these countries may be different from, and less stringent than, those in your country of residence.  By using the Services, you expressly consent to such transfer and processing.</p>
				</li>
				<li>
					<p class="heading">Terms of Service.</p>
					<p>Please also visit our  Terms of Service [LINK] establishing the terms, disclaimers, and limitations of liability governing the use of our Website.</p>
				</li>
				<li>
					<p class="heading">Your Consent.</p>
					<p>By using the Website, you consent to our latest Privacy Policy.</p>
				</li>
				<li>
					<p class="heading">Changes to our Privacy Policy.</p>
					<p>Right Side may update this Policy from time to time.  If we decide to change our Policy, we will post those changes on our Website, and update the Policy modification date at the top of the page.  We will treat your continued use of the Website following such notice as your acceptance of the changes.  However, to the extent required by law, we will seek your affirmative consent prior to applying material changes to this Policy on how we use or disclose Personal Information we collected or received prior to the date of the change.</p>
				</li>
				<li>
					<p class="heading">Contacting Us.</p>
					<p>If you have any questions about this Policy, please contact us at contact@rightsidehealth.com.</p>
				</li>
			</ol>
    </div>
  </div>
</div>
