<div class="container">
  <div class="well">
    <div class="col-md-12">
      <h1>We're sorry</h1>
			<p>Something went wrong.</p>

			<p>Reload the <%= link_to "Steps home page", root_path %> and try to do what you just did again.</p>

			<p>If it works, great!  If it breaks a second time, please <a href="mailto:contact@rightsidehealth.com">report</a> your problem and what you were trying to do.  We'll get right on fixing it for you.</p>
    </div>
  </div>
</div>

<style type="text/css">
.well p {font-size: 1.2em;}
</style>