<div class="container">
  <div class="col-md-12">
    <h2>I'm the coaches homepage</h2>
    <% if @users.present? %>
      <%= render @users %>
    <% else %>
      <%= link_to 'Add your first patient', new_program_path %>

    <% end %>
  </div>
</div>
