<div class="check-ins">
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Mon
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Tue
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Wed
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Thu
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Fri
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Sat
    </div>
  </div>
  <div class="col-md-1 check-in">
    <div class="activity">
      X
    </div>
    <div class="day-of-week">
      Sun
    </div>
  </div>
</div>

