<% @small_step_weeks.each do |week, small_steps| %>
  <div class="row">
    <div class="col-md-1">
      Week <%= week %>:
    </div>
    <div class="col-md-11">
      <%= render small_steps %>
      + small step

      <div class="small-step">
        <div class="form">
          <%= render partial: 'small_steps/form', locals: { small_step: SmallStep.new(program: @program) } %>
        </div>
      </div>

    </div>
  </div>
<% end %>
