// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_alert {
  > p {
    float: left;
    margin-right: 8px;
    line-height: 46px;
  }
  .form-group {
    float: left;
    margin-right: 8px;
  }
}

.alerts {
  .form {
    display: none;
  }
}

.program-alert {
  .btn {
    margin-top: -4px;
  }
}

@media (max-width: 991px) {
  #new_alert {
    > p, .form-group {
      float: none;
    }
    > p {
      margin: 15px 0;
      line-height: 23px;
    }
  }
}