.check-in-wrap {
  float: left;
  margin-right: 3px;
}

.check-in {
  display: inline-block;
  position: relative;
  top: 1px;
  //width: 139px;
  width: 130px;
  height: 76px;
  color: #fff;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 78px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toggle {
  float: left;
}

.patient {
  .status-0, .status-1, .status-2, .status-3 {
    background: transparent;
  }
}

.status-1, .status-2, .status-3, .status-4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.status-1-dash, .status-2-dash, .status-3-dash, .status-4-dash {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

// user didn't check in at all (?)
.status-0 {
  background: #6d6e71;
  &:before {
    content: "\e085";
  }
}

.status-0-dash {
/*  background: #6d6e71;*/
  &:before {
    content: "\e085";
  }
}

// mixed status (some yes, some no)
.status-1 {
  background: #ffa721;
  &:before {
    content: "*";
  }
}

.status-1-dash {
  /*background: #ffa721;*/
  &:before {
    content: "*";
  }
}

// all yes (check)
.status-2 {
  background: #ffa721;
  &:before {
    content: "\e013";
  }
}

.status-2-dash {
  /*background: #ffa721;*/
  &:before {
    content: "\e013";
  }
}

// all no (x)
.status-3 {
  background: #6d6e71;
  &:before {
    content: "\e014";
  }
}

.status-3-dash {
  /*background: #6d6e71;*/
  &:before {
    content: "\e014";
  }
}

// no check-in necessary (future)
.status-4 {
  background: #f1f1f2;
  color: #f1f1f2;
  &:before {
    content: "\e090";
  }
}

.status-4-dash {
  /*background: #f1f1f2;*/
  color: #f1f1f2;
  &:before {
    content: "\e090";
  }
}

