/* Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

/*
COLORS:
WHITE --> #FFFFFF
ORANGE --> #FFA721
YELLOW --> #FFD114
LIGHT GREY --> #f1f2f2  
DARK GREY --> #6d6e71  
*/
	
/*Overall*/	

/*html, body{
	min: 100%;
	position: relative;
}

$(window).height();   // returns height of browser viewport
$(document).height(); // returns height of HTML document
*/


/*Scrolling*/

/*a:target{
	-webkit-transform: translateY(300px);
	transform: translateY(300px);
}
*/

#header{
	height: 100px;
	margin-top:5px;
	margin-bottom: 50px;
}

.logo{
	height: 100px;
	vertical-align: middle;
}

#mainpane{
	position: relative;
	/*height: 100%;*/
	/*border: 1px solid black;*/
	/*overflow: hidden;
	z-index: 1;*/
}	
	
.logotype{
	padding-top: 0px;
	font-family: futura;
	font-size: 44px;
	vertical-align: middle;
	margin-left:15px;
	margin-top:15px;
}

p{
	font-family: Soleil, arial, helvetica, sans serif;
	color: #FFFFFF;

}	

#invite{
	font-size: .8em;
	text-align: center;
	line-height: 30px;
	margin-top:5px;
}

h1{
	font-family: Soleil, arial, helvetica, sans serif;
	color: #FFFFFF;
}

h4{
	font-family: Soleil, arial, helvetica, sans serif;
	color: #FFFFFF;
}
	
body{
	background-color: #ffa721;
}

th{
	border: 1px solid black;
}
/*Header bar*/


#stepslogo{
	height: 100px;
	width: 100px;
	border: 2px solid white;
	border-radius: 8px;
	display: inline;
	margin: auto;
}

.byline{
	vertical-align: middle; /*Why does top work not middle?*/ 
	display:inline-block; 
	position: relative; 
	margin-left: 10px;
	width: 60%;
}

.byline h3{
	color:white;
}

.byline a{
	color:white;
}

.byline a:hover{
	color:white;
	text-decoration: underline;
}

.logo{
	display: inline-block;
	vertical-align: middle;
}

.topnav{
	
	text-align: center;
	display: inline-block;
	/*width: 8%;*/
}

.topnav a{
	color: white;
	font-family: Soleil, arial, helvetica, sans serif;
	font-size: 14px;
	text-decoration: none;
}

.topnav a:hover{
	color: #f1f2f2;
	/*text-decoration: underline;*/
	text-align: center;
	/*vertical-align: bottom; Why doesn't alignment seem to actually work in the cells? */
}

.topnav li{
	list-style-type: none;
	display:inline-block;
	float: left;
	margin-left: 10px;
}

.topnav li a:hover{
text-decoration: underline;
}

.topnav ul{
	height: 100%;
}

#signin{
	padding-top: 10px;
	vertical-align: middle;
	margin-right: 5px;
}

/*Headline*/
.headline{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 43pt;
}

/*Tagline*/
.tagline{
	text-align: center;
	font-size: 19pt;
	font-family: Arial;
	font-weight: normal;
	line-height: 35px;
	margin-top: 15px;
	margin-bottom: 15px;
}

span .tagline{
	line-height: 25px;
}

/*#tagline_box{
	width:70%;
	margin:auto;
}*/

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}



/*Form*/



#form{
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin:auto;
}

#form input{
	width: 400px;
	margin:auto;
	
}

#signup{
	background-color: #808285;
	border-radius: 10px;
	width: 250px;
	height: 30px;
	border: none;
	font-family: Soleil, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 14px;
	margin: 5px;
}

#signup:hover{
	border: 1px solid white;
}

#signup:click{
	background-color: white;
	color: #808285;
}

#social{
	width: 30%;
	position: relative;
	left: 35%;
	height: 64px;
	vertical-align: middle;
}

#email{
	float:left;
}

#twitter{
	float:right;
}

/*Contact Bar*/
.contact{
	display: inline-block;
	width: 20%;
	margin-top:25px;
	margin-bottom: 25px;
	color: white;
	text-align: center;
}

.contact:first-child{
	margin-left: 30%;
}

.request{
	color:white;
	text-decoration: underline;
}

.request:hover{
	color: #f1f2f2;
	text-decoration: underline; 
}

/*The div that contains the button*/
#learnmore{
	clear:both;
	margin-top:40px;
	text-align: center;
	color: white;
	/*border: 1px solid blue;
	border-radius: 25%;*/
}

.circle{
	width:40px;
	height:40px;
	border-radius: 50%;
	background-color: white;
	opacity: 0.4;
	border: 2px solid white;
	margin-bottom: 40px;
	margin-left: -20px;
	position: relative;
	left: 50%;
	cursor: pointer;
}

.circle2{
	width:40px;
	height:40px;
	border-radius: 50%;
	background-color: #6d6e71 ;
	opacity: 0.4;
	border: 2px solid white;
	margin-bottom: 40px;
	margin-left: -20px;
	margin-top: 15px;
	position: relative;
	left: 50%;
	cursor: pointer;
}

.arrow{
	color: #ffa721;
	margin-top: 0%;
}

.arrow2{
	color: #f1f2f2;
	margin-top: 0%;
	position: relative;
	margin:auto;
	padding-left: 35%;
}

#learnmore a{
	color:white;
	font-size: .8em;
}

/*the button itself*/
.learn_more_btn{
	height: 136px;
	width: 136px;
}

.learn_more_btn:hover{
	content:url("learn_more_button_hover.png");
	height: 136px;
	width: 136px;
}

#seehow:hover{
	text-decoration: underline;
}

/*Infographic*/

/*Small windows*/
@media screen and (max-height:683px){
	#infographic{
	position: absolute;
	background-color: #f1f2f2;
	width:100%;
	/*border: 1px solid blue;*/
	}
} 

/*Large windows*/
@media screen and (min-height:684px){
	#infographic{
	position: absolute;
	background-color: #f1f2f2;
	width:100%;
	/*border: 1px solid blue;*/
	/*This is the line that locks the infographic below the fold*/
	top: 100%; 
	}
} 

/*#infographic{
	position: absolute;
	background-color: #f1f2f2;
	width:100%;
}*/

.inforow{
	width: 100%;
}

.infotext h4{
	color: #6d6e71;
	font-size: 24pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

.infotext p{
	color: #6d6e71; 
	font-size: 14pt;
	line-height: 25px;
}

.infotext{
	width: 48%;
	height: 33%;
	/*clear: both;
	display: inline;
	border: 1px solid black;*/
}

#image1{
	width: 50%;
	margin: auto;
	/*border: 1px solid black;*/
	float: right;
}

#image2{
	width: 50%;
	margin: auto;
	/*border: 1px solid black;*/
	float: right;
}

#image3{
	width: 50%;
	margin-top: 40px;
	/*border: 1px solid black;*/
	float: right;
}

.imagediv{
	/*border: 1px solid black;*/
	margin-right: 10%;
}

.textdiv{
	margin-left: 10%;
	/*border: 1px solid black;*/
	width: 60%;
}

.infoimagebox{
	width: 48%;
	height: 330px;
	/*clear: both;
	display: inline;
	border: 1px solid black;*/
}

