// Place all the styles related to the Practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-expiry-month, .card-expiry-year {
  width: 10%;
  display: inline-block;
}

form label {
  font-size: 18px;
}
