// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adv-settings-desc{
  font-style: italic;
  font-size: .8em;
}

.normal-client {
  position: relative;
  width: 100%;
  height: 278px;
  border: 9px solid #fff;
  -webkit-box-shadow: 0px 10px 0 0 rgba(217,218,218,1.0);
  box-shadow: 0px 10px 0 0 rgba(217,218,218,1.0);
  &:hover {
    width: 100%;
    border: 9px solid #ffa721;
    .check-ins {
      display: block;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    font-size: 20px;
    text-align: center;
    a {
      color: #6d6e71;
      text-align: center;
      text-decoration: none;
    }
  }
  .check-ins {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: #ffa721;
    ul {
      float: left;
      margin: 0;
      padding-top: 6px;
      width: 100%;
      height: 28px;
      text-align: center;
      li {
        width: 12%;
        height: 34px;
        color: #fff;
        font-size: 21px;
        line-height: 34px;
      }
    }
  }
}

.alert-client {
  position: relative;
  width: 100%;
  height: 278px;
  border: 9px solid #fff;
  -webkit-box-shadow: 0px 10px 0 0 rgba(217,218,218,1.0);
  box-shadow: 0px 10px 0 0 rgba(217,218,218,1.0);
  border: 9px solid #6d6e71;
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    font-size: 20px;
    text-align: center;
    a {
      color: #6d6e71;
      text-align: center;
      text-decoration: none;
    }
  }
  .check-ins {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: #6d6e71;
    ul {
      float: left;
      margin: 0;
      padding-top: 6px;
      width: 100%;
      height: 28px;
      text-align: center;
      li {
        width: 12%;
        height: 34px;
        color: #fff;
        font-size: 21px;
        line-height: 34px;
      }
    }
  }
}

a, a:hover {
  text-decoration: none;
}

.btn-plus {
  display: inline-block;
  margin-right: 5px;
  width: 46px;
  height: 46px;
  color: #fff;
  background: #b2b6b8;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjZiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2IyYjZiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2EyYTRhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMmE0YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #b2b6b8 0%, #b2b6b8 50%, #a2a4a6 51%, #a2a4a6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b6b8), color-stop(50%,#b2b6b8), color-stop(51%,#a2a4a6), color-stop(100%,#a2a4a6));
  background: -webkit-linear-gradient(top,  #b2b6b8 0%,#b2b6b8 50%,#a2a4a6 51%,#a2a4a6 100%);
  background: -o-linear-gradient(top,  #b2b6b8 0%,#b2b6b8 50%,#a2a4a6 51%,#a2a4a6 100%);
  background: -ms-linear-gradient(top,  #b2b6b8 0%,#b2b6b8 50%,#a2a4a6 51%,#a2a4a6 100%);
  background: linear-gradient(to bottom,  #b2b6b8 0%,#b2b6b8 50%,#a2a4a6 51%,#a2a4a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b6b8', endColorstr='#a2a4a6',GradientType=0 );
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 46px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  &:before {
    content: "\2b";
  }
}

.plus-button-tooltip {
  color: #6d6e71;
  display: none;
}

/* conflicting with alerts and reminders boxes
h2 ~ div {
  margin-bottom: 10px;
  height: 46px;
  line-height: 44px;
}
 */
ul.view {
  float: none;
  text-align: center;
  font-weight: 700;
}

.well {
  background: #fff;
  p:first-child b {
    display: block;
    margin-bottom: 18px;
    font-size: 1.1em;
  }
  table {
    tr {
      td {
        vertical-align: top;
      }
    }
  }
}

.tab-pane {
  .row {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
}

#steps, #advanced-settings {
  table {
    margin-bottom: 20px;
    width: 100%;
  }
}

form {
  input[type=text], input[type=email], textarea {
    background: #f1f1f2;
    color: #6d6e71;
    font-size: 18px;
    outline: none;
    border: none;
    -webkit-border-radius: none;
    border-radius: none;
  }
  input[type=text], input[type=email] {
    height: 46px;
  }
  .program_purpose, .program_goal {
    display: inline-block;
    width: 49%;
    float: left;
    label {
      margin-left:0;
    }
  }
  .program_goal {
    float: right;
  }
  #program_purpose, #program_goal {
    height: 92px;
  }
  .small-step-fields {
    input[type=text] {
      width: 372px;
    }
  }
  label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    margin-left: -5px;
  }
}

.small-step-cancel-button {
  width: auto;
}

.simple_form {
  .select2-container {
    //max-width: 200px;
    max-width: 175px;
    .select2-choice {
      height: 46px !important;
      background: #f1f1f2 !important;
      color: #6d6e71 !important;
      font-size: 18px !important;
      line-height: 46px !important;
    }
  }
  select {
    height: 46px !important;
    background: #f1f1f2 !important;
    color: #6d6e71 !important;
    font-size: 18px !important;
    line-height: 46px !important;
  }
  &.new-program {
    .select2-container {
      max-width: 267px;
    }
  }
}

.select2-results {
  max-height: 400px!important;
}

.select2-container .select2-choice span.select2-arrow {
  display: inline-block;
  width: 46px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #ccc 0%, #eee 60%);
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: #a0a4a7 !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYTRhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2EwYTRhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzhjOGU5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YzhlOTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  background: -moz-linear-gradient(top,  #a0a4a7 0%, #a0a4a7 50%, #8c8e93 51%, #8c8e93 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a4a7), color-stop(50%,#a0a4a7), color-stop(51%,#8c8e93), color-stop(100%,#8c8e93)) !important;
  background: -webkit-linear-gradient(top,  #a0a4a7 0%,#a0a4a7 50%,#8c8e93 51%,#8c8e93 100%) !important;
  background: -o-linear-gradient(top,  #a0a4a7 0%,#a0a4a7 50%,#8c8e93 51%,#8c8e93 100%) !important;
  background: -ms-linear-gradient(top,  #a0a4a7 0%,#a0a4a7 50%,#8c8e93 51%,#8c8e93 100%) !important;
  background: linear-gradient(to bottom,  #a0a4a7 0%,#a0a4a7 50%,#8c8e93 51%,#8c8e93 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a4a7', endColorstr='#8c8e93',GradientType=0 ) !important;
  &:before {
    position: absolute;
    top: 14px;
    left: 10px;
    content: "\e114";
    color: #fff;
    font-size: 22px;
  }
}

.select2-dropdown-open b:before {
  top: 12px !important;
  left: 12px !important;
  content: "\e113" !important;
}

.select2-chosen {
  color: #999 !important;
}

.select2-results .select2-highlighted {
  background: #e3952c !important;
}

.select2-drop-active {
  border: 1px solid #e3952c !important;
  border-top: none !important;
}

.checkbox {
  margin: 0;
  padding: 0;
  div.checker, div.checker span, div.checker input {
    width: 36px;
    height: 32px;
    cursor: pointer;
  }
}

.checkbox div.checker.focus span,
.checkbox div.checker.hover span,
.checkbox div.checker.focus.active span,
.checkbox div.checker.hover.active span,
.checkbox div.checker span {
  width: 36px;
  height: 32px;
  background: asset_url('/assets/checkbox-sprite.png', image) no-repeat;
  background-position: 0 5px;
}

.checkbox div.checker.focus span.checked,
.checkbox div.checker.hover span.checked,
.checkbox div.checker.focus.active span.checked,
.checkbox div.checker.hover.active span.checked,
.checkbox div.checker span.checked {
  width: 36px;
  height: 32px;
  background: asset_url('/assets/checkbox-sprite.png', image) no-repeat;
  background-position: 0 -34px;
}

.code {
  padding: 5px 12px;
  background: #f1f1f2;
}

.past_week .small-steps-for-week {
  &:hover {
    cursor: pointer;
  }
}

.links {
  display: none;
}

.day-names {
  margin-top: 6px;
  color: #6d6e71;
  line-height: 24px;
}
.day-numbers {
  color: #ffa721;
  font-size: 28px;
  font-weight: 700;
  line-height: 26px;
}
