// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#send_time {
  padding: 0 15px;
  width: 100%;
}

.reminder {
  margin-top: 15px;
  p, span, label {
    float: left;
    padding-right: 6px;
    font-size: 18px;
    display: inline-block;
  }
  .form {
    display: none;

    .frequency-option {
      display: none;
    }

    .message-send-on {
      display: none;
    }
  }
  #new_reminder {
    .col-md-12 + p {
      margin-left: -5px;
    }
    label {
      margin-left: 5px;
    }
    span {
      float: left;
    }
    .form-group.reminder_frequency {
      float: left;
      margin-top: -6px;
    }
    .form-group.reminder_send_at,
    .form-group.reminder_send_on {
      display: inline-block;
    }
    .form-group.reminder_body {
      float: none;
      margin: 10px 5px;
    }
    .weekly .form-group {
      margin-top: -6px;
      margin-left: 6px;
      margin-right: 6px;
    }
    .reminder_monthly_recurrence,
    .reminder_weekly_recurrence,
    .reminder_daily_recurrence,
    .reminder_day_of_week {
      float: left;
      display: inline-block;
    }
  }
}