// Place all the styles related to the SmallSteps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-step-fields {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;

  label.checkbox {
    display: inline-block;
  }

  input, select {
    display: inline-block;
    width: 20%;
  }

  .times-per-week, .specifc-days-per-week {
    display: none;
  }
}
