// Place all the styles related to the SmallSteps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#steps {
  background: #fff;
  padding: 15px;
  margin-bottom:100px;
}

.small-steps-for-week {
  .check-ins {
    margin-top: 10px;
    .check-in {
      .activity {
        border: 1px solid #ccc;

      }
      .day-of-week {

      }
    }
  }
}

.small-step {
  padding-bottom: 10px;

  .display {
    .big-step-name, .small-step-name, .frequency, .colon {
      background: #f1f1f2;
      color: #6d6e71;
      display: inline-block;
      padding: 4px;
      float: left;
      margin-right: 10px;
    }

    .big-step-name {
      margin-right: 0;
    }

    .colon {
      background: none;
      border: none;
    }
  }

  .form {
    display: none;
    input, select {
      display: inline-block;
      width: 15%;
    }

    .times-per-week, .specific-days-per-week {
      display: none;
      margin-top: 10px;
      font-size: 14px;
      + p {
        margin: 0;
      }
    }

    label.checkbox {
      display: inline-block;
      cursor: pointer;
    }

    input[type='submit'] {
      width: auto;
    }
  }
}

input[name='small_step[sunday]'] + label {
  padding-left: 0;
}

.small-step-fields {
  padding: 20px 0;
  margin-bottom: 10px;

  label.checkbox {
    display: inline-block;
    cursor: pointer;
    &:after {
      cursor: pointer;
    }
  }

  input, select {
    display: inline-block;
    width: 20%;
  }

  .times-per-week, .specific-days-per-week {
    display: none;
  }
}

#small_step_name {
  width: auto;
  max-width: 270px;
}

div.checker {
  top: -5px;
  cursor: pointer;
}

form .program_start_date label {
  float: left;
  margin: 0 5px 0 0;
  line-height: 46px;
}

.start-date {
  margin-top: 18px;
  label {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 42px;
    line-height: 42px;
  }
}
